p {
    color: blue;
    font-size: large;
}
.pov {
    font-size: small;
    font-weight: bold;
}
h1{
    text-align: center;
}
.container {
    background-color: rgb(104, 91, 91);
}
.iw {
    background-image: url('RobloxScreenShot20240613_000936527.png');
}
.wow {
    padding: 200px;
}
.margin {
    margin: 100px;
}
.border {
    border: 10px solid black;
}
.long {
    width: 500px;
    overflow: scroll;
}
.snake {
    heigt: 500px;
    overflow: hidden;
}