.r:hover{
    background-color: rgb(114, 203, 209);
}
.e:focus{
    background-color: rgb(65, 51, 5);
}
.cat:first-child{
    background-color: rgb(1, 59, 3);
}
.cat:last-child{
    background-color: rgb(95, 84, 84);
}